<html>
  <head>
    <title> Home </title>
    {%if type%}
    {{type}}
    {%endif%}
  </head>
  <body bgcolor = "{{color}}">
    <h1>{{title}}</h1><br>
    Welcome {{fn}} {{ln}}!<br>
    <img src="{{imgLink}}" width="200px" height="200px"><br>
    <form name="logoutForm" action="/assignment11.html" method="get">
    	<input type="hidden" name="create" value="logout"><br>
    	<input type="submit" value="Logout">
    </form>
    <br><hr><br>
    <form name="editAccountForm" action="assignment11.html" method="get">
    	<label>First name:</label>
    	<input type="text" name="fn" value="{{fn}}"><br>
    	<label>Last name:</label>
    	<input type="text" name="ln" value="{{ln}}"><br>
    	<label>Background color:</label>
    	<input type="text" name="bkcolor" value="{{color}}"><br>
    	<label>Title:</label>
    	<input type="text" name="title" value="{{title}}"><br>
    	<label>Image:</label>
    	<input type="text" name="img" size="100" value="{{imgLink}}"><br>
    	<input type="hidden" name="create" value="edit">
      <input type="hidden" name="un" value="{{un}}">
      <input type="hidden" name="pw" value="{{pw}}">
    	<input type="submit" value="Edit Account Information">
    </form>
  </body>
<html>
